@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Inter:wght@300;400;500;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
}


h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
}


h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
}



.små-rubriker {
    font-family: 'Inter', sans-serif;
    color: #F94D1C;
    font-size: 18px;
    font-weight: 500;
}

.theme-knapp {
    background-color: #f9d783;
    border: 1px solid  #f9d783;
    text-decoration: none;
    color: #191919;
    padding: 18px 30px;
    font-weight: 600;
    border-radius: 30px;
    font-size: 16px;

    i {
        margin-left: 8px;
        font-size: 1.1em; 
    }

    &:hover {
        background-color: #191919;
        color: rgb(208, 206, 206);
        border-color: #191919;
    }
}

.transparent-knapp {
    background-color: transparent;
    text-decoration: none;
    color: #191919;
    padding: 18px 30px;
    font-weight: 600;
    border-radius: 30px;
    font-size: 16px;
    border: 1px solid #191919;

    i {
        margin-left: 8px;
        font-size: 1.1em; 
    }

    &:hover {
        background-color: #191919;
        color: rgb(208, 206, 206);
    }
}


html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.wrapp-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    header {
        background-color: #F0EFE9;
        padding: 16px;
        
        .container {
            display: flex;
            gap: 70px;
            justify-content: space-between;
            align-items: center;

            .top-meny {
                flex: 1;
            
                .topp-info {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #DAD9D3;
                    padding-bottom: 12px;
                    align-items: center;
                
                        .kontakt-information {
                            display: flex;
                            align-items: center;
                            

                            .info-box {
                                margin-right: 50px;
                                border-right: 1px solid #DAD9D3;
                                padding-right: 40px;
                                font-family: 'Inter', sans-serif;
                                font-weight: 300;
                                font-size: 15px;

                                i {
                                    margin-right: 3px;
                                    font-size: 1.3em;
                                    color: #4d4d4d;
                                }
                                    &.last {
                                        border: none;
                            }
                        }
                    }
                }

                .social-icons {
                    a {
                        color: #191919;
                        font-size: 1.3rem;
                        margin-left: 12px;

                        &:hover {
                            color: #a4a0a0;
                        }
                        
                    }
                }
            }
            
            .main-nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 20px;

                nav {
                    
                    a {
                        color: #191919;
                        margin-right: 35px;
                        text-decoration: none;
                        position: relative;
                        display: inline-block;

                        &.active {
                            font-weight: 500;
                        }

                        &.active::after,
                        &:hover::after {
                            font-weight: 500;
                            position: absolute;
                            height: 2px;
                            width: 16px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                            content: '';

                        }
                    }
                }



            }

            .login-knapp {
                padding-top: 13px;
                padding-bottom: 13px;
            }
        }
    }

    .showcase {
        background-color: #F0EFE9;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .content {

                h1 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 96px;
                    font-weight: 700;
                }

                p {
                    font-size: 20px;
                    font-family: 'Inter', sans-serif;
                    padding-top: 25px;
                    padding-bottom: 35px;
                }

                a {
                    margin-right: 12px;  
                }
            }
        }

        img {
            margin-right: -48px;
        }
    }

    .företag {
        background-color: #FFFFFF;
        

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 240px;
        }
    }

    .features {
        
        .container-fluid {
            display: flex;
            border: 1px solid #DAD9D3;
            height: 600px;
            width: 1520px;

            .feature-left {
                width: 450px;
                height: 300px;
                margin-top: 90px;
                margin-left: 100px;
                
                    h2 {
                        margin-top: 40px; 
                        margin-bottom: 50px;
                    }

                    a {
                        display: block;
                        text-align: center;
                    }   
                }
            
            .feature-list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
                margin-top: 105px;
                margin-left: 180px;

                .feature-box-right {
                    height: 220px;
                    width: 300px;  
                }

                i {
                    font-size: 35px;
                    margin-bottom: 30px;
                    padding-top: 15px;
                }
            }
        }
    }   
}
