@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.theme-knapp {
  background-color: #f9d783;
  text-decoration: none;
  color: #191919;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 30px;
  font-size: 16px;
}
.theme-knapp i {
  margin-left: 8px;
  font-size: 1.1em;
}
.theme-knapp:hover {
  background-color: #191919;
  color: rgb(208, 206, 206);
}

html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.wrapp-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.wrapp-grid header {
  background-color: #F0EFE9;
  padding: 16px;
}
.wrapp-grid header .container {
  display: flex;
  gap: 70px;
  justify-content: space-between;
  align-items: center;
}
.wrapp-grid header .container .top-meny {
  flex: 1;
}
.wrapp-grid header .container .top-meny .topp-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 12px;
  align-items: center;
}
.wrapp-grid header .container .top-meny .topp-info .kontakt-information {
  display: flex;
  align-items: center;
}
.wrapp-grid header .container .top-meny .topp-info .kontakt-information .info-box {
  margin-right: 50px;
  border-right: 1px solid #DAD9D3;
  padding-right: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.wrapp-grid header .container .top-meny .topp-info .kontakt-information .info-box i {
  margin-right: 3px;
  font-size: 1.3em;
  color: #4d4d4d;
}
.wrapp-grid header .container .top-meny .topp-info .kontakt-information .info-box.last {
  border: none;
}
.wrapp-grid header .container .top-meny .social-icons a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 12px;
}
.wrapp-grid header .container .top-meny .social-icons a:hover {
  color: #a4a0a0;
}
.wrapp-grid header .container .main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.wrapp-grid header .container .main-nav nav a {
  color: #191919;
  margin-right: 35px;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.wrapp-grid header .container .main-nav nav a.active {
  font-weight: 500;
}
.wrapp-grid header .container .main-nav nav a.active::after, .wrapp-grid header .container .main-nav nav a:hover::after {
  font-weight: 500;
  position: absolute;
  height: 2px;
  width: 16px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
  content: "";
}